<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Atención recibida <span class="text-primary">{{progreso1}}</span> </h4>
                <!--[style.width]="getProgreso1" se establece un ancho utilizando una propiedad de .ts-->
                <div class="progress m-t-20 ">
                    <div class="progress-bar bg-primary progress-bar-striped active " style=" height:15px;" [style.width]="getProgreso1" role="progressbar">
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <app-incrementador (valorSalida)="progreso1 = $event" [progreso]="progreso1"></app-incrementador>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Instalaciones <span class="text-info">{{progreso2}}</span> </h4>
                <!--[style.width]="getProgreso1" se establece un ancho utilizando una propiedad de .ts-->
                <div class="progress m-t-20 ">
                    <div class="progress-bar bg-info progress-bar-striped active " style=" height:15px;" [style.width]="getProgreso2" role="progressbar">
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <app-incrementador (valorSalida)="progreso2 = $event" [progreso]="progreso2" [btnClass]="'btn-info'"></app-incrementador>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ingreso <span class="text-success">{{progreso3}}</span> </h4>
                <!--[style.width]="getProgreso1" se establece un ancho utilizando una propiedad de .ts-->
                <div class="progress m-t-20 ">
                    <div class="progress-bar bg-success progress-bar-striped active " style=" height:15px;" [style.width]="getProgreso3" role="progressbar">
                    </div>
                </div>
                <div class="col-6 mt-2">
                    <app-incrementador (valorSalida)="progreso3 = $event" [progreso]="progreso3" [btnClass]="'btn-success'"></app-incrementador>

                </div>
            </div>
        </div>
    </div>
</div>
