<!--ESTO ES UNA PLANTILLA PARA LOS MANTENIMIENTOS-->
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar medico" #txtTermino (keyup)="buscar(txtTermino.value)">

            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-o">Por favor espere</p>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Medicos </h4>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <a class="btn btn-primary" [routerLink]="['/dashboard/medico/nuevo']">
                                <i class="fa fa-hospital-o"></i>Crear medico
                            </a>
                        </div>
                    </div>
                </div>

                <h6 class="card-subtitle">Medicos registrados en la aplicacion </h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w-15">Foto</th>
                                <th>Nombre</th>
                                <th>Especialidad</th>
                                <th>Hospital </th>
                                <th class="text-center">Editar/Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td class="text-center">
                                    <img (click)="abrirModal(medico)" class="avatar cursor" [src]=" medico.img | imagen: 'medicos' " alt="medico.nombre">
                                </td>
                                <td>{{medico.nombre}}</td>
                                <td>{{medico.especialidad}}</td>
                                <td>{{medico.hospital.nombre}}</td>



                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/dashboard/medico', medico._id]" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="eliminarMedico(medico)" data-toggle="tooltip" data-original-title="Borrar"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>