<div class="fotoModalImagen animated fadeIn fast" [class.oculto]="citasService.ocultarModal">
    <!-- style="display: block; hace visible el modal-->
    <div id="responsive-modal" class="modal fade show" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: block;">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cargar imagen</h4>
                    <!-- <button type="button" (click)="cerrarModal()" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                </div>
                <div class="modal-body">
                    <h3>Seleccione una imagen</h3>

                    <div class="text-center">

                        <h1>modal</h1>

                    </div>
                    <br>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light">Actualizar foto</button>
                </div>
            </div>
        </div>
    </div>
</div>