<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header text-center">
            <a class="navbar-brand" href="index.html">
                <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->

                            <img src="../assets/images/logo-form-light.png" style="width: 70px;height: 70px;"  alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="../assets/images/logo-form-dark.png" style="width: 70px;height: 70px;"  alt="homepage" class="light-logo" />
                        </b>
                <!--End Logo icon -->
                <!-- Logo text -->
                <span>

                </span>
            </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav mr-auto">
                <!-- This is  -->
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                <li class="nav-item hidden-sm-down"></li>
            </ul>
            <!-- ============================================================== -->
            <!-- User profile and search -->
            <!-- ============================================================== -->
            <ul class="navbar-nav my-lg-0">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                    <form class="app-search" (submit)="buscar(txtTermino.value)">
                        <input type="text" class="form-control" placeholder="Buscar medico, hospital o usuario" #txtTermino>
                        <a class="srh-btn"><i class="ti-close"></i></a>
                    </form>
                </li>
                <!-- ============================================================== -->
                <!-- Comment -->


                <!-- Language -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="../../../assets/images/icon/spain.png" width="30px" height="30px">
                    </a>

                </li>
                <!-- ============================================================== -->
                <!-- Profile -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img [src]="usuario.imagenUrl" alt="user" class="profile-pic" /></a>
                    <div class="dropdown-menu dropdown-menu-right animated flipInY">
                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <!--nota: referrerpolicy="no-referrer" class="profile-pic" en unos de los comentarios decian que habia que poner esto
                                  en la imagen para que se mostrara aunque a mi me funciono sin ello
                                -->
                                    <div class="u-img"><img [src]="usuario.imagenUrl" alt="user" referrerpolicy="no-referrer" class="profile-pic"></div>
                                    <div class="u-text">
                                        <h4>{{usuario.nombre}} </h4>
                                        <p class="text-muted">
                                            <!--usamos un pipe para cortar el email en caso de que sea muy largo-->
                                            {{usuario.email | slice:0:20 }}
                                            <!--si es mayor de 20 pon tres puntitos-->
                                            <!---->{{(usuario.email.length>20)?'...':'' }}

                                        </p><a routerLink="./perfil" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a routerLinkActive="active" routerLink="./perfil"><i class="ti-user"></i> My Profile</a></li>
                            <li><a routerLink="citas"><i class="ti-wallet"></i> Mis citas</a></li>
                            <li><a routerLink="account-settings"><i class="ti-settings"></i>Ajustes</a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a (click)="logout()" id="signout_button" class="cursor g_id_signout">
                                    <i class="fa fa-power-off"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
