<div class="row row-cols-1 row-cols-md-2 g-4 animated zoomIn fast">
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/hospital/urologia.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">5 Curso de Urología</h5>
                <p class="card-text">Curso multimétrico sobre Urología</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/hospital/investigacion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">XXXV Edición de los Premios Íñigo Álvarez de Toledo de Investigación en Nefrología</h5>
                <p class="card-text">Convocatoria de los premis anuales de investigación nefrología 2023</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/hospital/beca.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Convocatoria de la BECA "ASUN ALMAJANO" para la Investigación en el Área de la Leucemia, Linfoma, Mieloma y Enfermedades Afines Año 2023</h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="../../../assets/images/hospital/muestras.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Más de la mitad de las muestras que recibe el laboratorio de Análisis Clínicos proviene de los centros de Atención Primaria</h5>
            </div>
        </div>
    </div>
</div>
