<div class="container-fluid animated fadeIn fast ">
    <div class="row">
        <!-- ============================================================== -->
        <!-- Stats box -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-lg-3">
                <a class="box" routerLink="../citas" style="text-decoration: none;">
                    <div class="card bg-info">
                        <div class="card-body">
                            <div class="d-flex no-block" style="height: 100px;">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/citas.png" alt="Income"></div>
                                <div class="align-self-center">
                                    <h2 class="text-white m-t-10 m-b-0">Citas</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-lg-3">
                <a class="box " routerLink="../informes" style="text-decoration: none;">
                    <div class="card bg-success">
                        <div class="card-body">
                            <div class="d-flex no-block" style="height:100px;">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/expense-w.png" alt="Income"></div>
                                <div class="align-self-center">
                                    <h2 class="text-white m-t-10 m-b-0">Informes y Recetas</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                </a>
            </div>
            <div class="col-lg-3">
                <a class="box" routerLink="../userHospital" style="text-decoration: none;">
                    <div class="card bg-primary">
                        <div class="card-body">
                            <div class="d-flex no-block" style="height:100px;">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/hospitales.png" alt="Income"></div>
                                <div class="align-self-center">
                                    <h2 class="text-white m-t-10 m-b-0">Hospitales</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                </a>
            </div>
            <div class="col-lg-3">
                <a class="box" routerLink="../donar" style="text-decoration: none;">
                    <div class="card bg-danger">
                        <div class="card-body">
                            <div class="d-flex no-block" style="height:100px;">
                                <div class="m-r-20 align-self-center"><img src="../assets/images/icon/sangre.png" alt="Income"></div>
                                <div class="align-self-center">
                                    <h2 class="text-white m-t-10 m-b-0">Donar Sangre</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Sales overview chart -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-lg-6 col-md-12 ">
                <div class="card">
                    <div class="card-body">
                        <div id="carouselExampleCaptions" class="carousel slide carousel-fade " data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>

                            </div>
                            <div class="carousel-inner " data-bs-interval="100">
                                <div class="carousel-item active">
                                    <img src="../../../assets/images/carrusel/constituido-comite-expertos-salud-bienestar-intergeneracional-organizaciones-471x250.png" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>Mejores avances tecnológicos</p>
                                    </div>
                                </div>


                                <div class="carousel-item" data-bs-interval="100">
                                    <img src="../../../assets/images/carrusel/images.jpg" class="d-block w-100 " alt="..." style="height: 100%;">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>Profesionales de calidad</p>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="100">
                                    <img src="../../../assets/images/carrusel/istock-1300745916_61-2858185_20220111154121.jpg" class="d-block w-100 " alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                        <p>Tu salud es lo más importante</p>
                                    </div>
                                </div>

                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                           </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                 <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card text-bg-dark ">
                    <img src="../../../assets/images/background/conferencia.jpg" class="card-img-top" alt="...">
                    <div class="card-img-overlay d-grid gap-2 d-md-block">
                        <a routerLink="../agenda" class="btn btn-primary text-center">Agenda de actividades</a>
                    </div>
                </div>

            </div>

        </div>
        <hr>
        <div class="card ">
            <img src="../../../assets/images/background/coronvirus.jpg" class="card-img-top" height="300px" alt="...">
            <div class="card-img-overlay d-grid gap-2 d-md-block ">
                <h3 class="text-center mt-2">Los profesionales sanitarios trabajando por la salud de todos<br> Ayúdanos y sigue las recomendaciones de los expertos
                    <br> utiliza siempre la mascarillo en todo recinto hospitalario<br>

                </h3>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="https://www.who.int/es/news-room/questions-and-answers/item/coronavirus-disease-covid-19" class="btn btn-outline-primary mt-5">Más informacion</a>

                </div>


            </div>
        </div>


    </div>
