>

<div class="row row-cols-2 row-cols-md-2 g-2 p-5 animated fadeIn fast">
    <div class="col">
        <div class="card border-info mb-3">
            <div class="card-header text-center">Informes Médicos</div>
            <div class="card-body">
                <h5 class="card-title">Informes emitidos</h5>
                <p class="card-text">No tiene informes...</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-info mb-3">
            <div class="card-header text-center">
                Recetas
            </div>
            <div class="card-body">
                <h5 class="card-title">Recetas emitidos</h5>
                <p class="card-text">No tiene recetas...</p>
            </div>
        </div>
    </div>
</div>