<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="Buscar hospital" (keyup)="buscar( txtTermino.value )" #txtTermino>

            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-o">Por favor espere</p>
        </div>
    </div>
</div>
<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Hospitales
                            <!--({{ hospitales.length }})-->
                        </h4>
                        <h6 class="card-subtitle">Hospitales registrados en la aplicacion</h6>
                    </div>
                    <div class="col">
                        <div class="text-right">
                            <button class="btn btn-primary" (click)="abrirSwetAlert()">
                    <i class="fa fa-hospital-o"></i>Crear hospital
                  </button>
                        </div>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w-25">Avatar</th>
                                <th>Nombre</th>

                                <th class="text-nowrap text-center">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales">
                                <!--Nota: imagen es un pipe creado el primer argumento que recibe es
                              hospital.img y el segundo es el tipo 'hospitales'
                            -->
                                <td class="text-center">
                                    <img (click)="abrirModal(hospital)" class="img-avatar cursor" [src]=" hospital.img | imagen: 'hospitales' " alt="hospital.nombre">
                                </td>
                                <td>
                                    <input type="text" class="form-control" placeholder="Nombre del hospital" [(ngModel)]="hospital.nombre">
                                </td>

                                <td class="text-nowrap w-15 text-center">
                                    <a (click)="guardarCambios(hospital)" class="cursor" data-toggle="tooltip" data-original-title="Guardar cambios"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                    <a (click)="eliminarHospital(hospital)" class="cursor" data-toggle="tooltip" data-original-title="Borrar"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>
