<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar usuario" (keyup)="buscar( txtTermino.value )" #txtTermino>

            </div>
        </div>
    </div>
</div>
<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center" role="alert">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-o">Por favor espere</p>
        </div>
    </div>
</div>
<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total de usuarios
                    <!--({{totalUsuarios}})>-->
                </h4>

                <!--<h4 *ngIf="txtTermino.value.length != 0" class="card-title">Busqueda ({{usuarios.length}}) </h4>
-->
                <h6 class="card-subtitle">Usuarios registrados en la aplicacion</h6>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w-15"></th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th>Role</th>
                                <th>Auth</th>
                                <th class="text-nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td class="text-center">
                                    <img [src]="usuario.imagenUrl" (click)="abrirModal(usuario)" class="avatar cursor">
                                </td>
                                <td>{{usuario.email}}</td>
                                <td>{{usuario.nombre}}</td>
                                <td>
                                    <select class="form-control w140" [(ngModel)]="usuario.role" (change)="cambiarRole(usuario)">
                                    <option value="ADMIN_ROLE">Admin</option>
                                    <option value="USER_ROLE">User</option>

                                  </select>
                                </td>
                                <td>
                                    <span *ngIf="usuario.google" class="label label-danger">Google</span>
                                    <span *ngIf="!usuario.google" class="label label-info">Email</span>

                                </td>

                                <td class="text-nowrap">
                                    <a data-toggle="tooltip" data-original-title="Editar">

                                    </a>
                                    <a data-toggle="tooltip" class="cursor" (click)="eliminarUsuario(usuario)" data-original-title="Borrar">
                                        <i class="fa fa-close text-danger text-center"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="txtTermino.value.length === 0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anteriores</button> &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
                </div>

            </div>
        </div>
    </div>
</div>
